<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [completed]="dataSource.length < 3">
    <ng-template matStepLabel>Gerenciar carteira</ng-template>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="ticker">
        <th mat-header-cell *matHeaderCellDef>Ticker</th>
        <td mat-cell *matCellDef="let element">{{ element.ticker }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Cotação atual</th>
        <td mat-cell *matCellDef="let element">
          R$ {{ element.value.toFixed(2) }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">
          R$ {{ element.total.toFixed(2) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="profit">
        <th mat-header-cell *matHeaderCellDef>Rentabilidade</th>
        <td mat-cell *matCellDef="let element">
          {{ (element.profit * 100).toFixed(1) }}%
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <button
          class="action-btn"  
          mat-flat-button color="primary"
          >
          COMPRAR
          </button>
          <button
          class="action-btn"  
          mat-flat-button color="accent"
          >
          VENDER
          </button>
  
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div style="padding-top: 30px">
      <h3>
        Seu saldo na conta é de <strong>R$ {{ estate.toFixed(2) }}</strong>
      </h3>
      <p *ngIf="dataSource.length >= 3" style="color: red">
        Você já atingiu o limite de 3 ações para sua carteira.
      </p>
      <button style="float: right;" mat-button matStepperNext>Próximo</button>

    </div>
  </mat-step>
  <mat-step [completed]="tickerToBuy.ticker !== ''">
    <form [formGroup]="stonksFinderForm">
      <ng-template matStepLabel>Encontrar ativo</ng-template>
      <mat-form-field>
        <mat-label>Ticker</mat-label>
        <input
          matInput
          formControlName="ticker"
          placeholder="Ex: AAPL, IBMB34"
          required
        />
      </mat-form-field>
      <button style="margin-left: 10px" mat-button (click)="findTicker()">
        ENCONTRAR
      </button>
      <p>
        Nomenclatura da ação (ticker):
        {{ tickerToBuy.ticker || "Nenhum valor encontrado" }}
      </p>
      <p>
        Nome da empresa: {{ tickerToBuy.name || "Nenhum valor encontrado" }}
      </p>
      <div style="padding-top: 30px;">
        <button mat-button matStepperPrevious>Voltar</button>
        <button style="float: right;"  mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="stonksTraderForm">
    <form [formGroup]="stonksTraderForm">
      <ng-template matStepLabel>Negociar ativo</ng-template>
      <p><strong></strong> {{ tickerToBuy.name }}</p>
      <p><strong>Ticker:</strong> {{ tickerToBuy.ticker }}</p>
      <p><strong>Cotação da ação:</strong> $ {{ tickerToBuy.currentValue }}</p>
      <p>
        <strong>Data da ultima consulta:</strong>
        {{ tickerToBuy.lastTimeRefreshed }}
      </p>
      <p>
        <strong>Descrição da empresa:</strong> {{ tickerToBuy.description }}
      </p>
      <mat-form-field>
        <mat-label>Quantidade</mat-label>
        <input
          type="number"
          matInput
          formControlName="value"
          placeholder="Ex: 10"
          required
        />
      </mat-form-field>
      <h3>
        <strong>Valor total: $ {{ getTotalPrice() }}</strong>
      </h3>
    </form>
    <div>
      <button mat-button matStepperPrevious>Voltar</button>
      <button style="float: right;"  mat-button (click)="stepper.reset()">Finalizar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
