<div class="resume">
  <h1>Olá, usuário!</h1>
  <p>Seu patrimônio atual é de <strong>$ 50000,00</strong></p>
  <p>
    Você tem um total de <strong>$ 50000,00</strong> para continuar investindo
  </p>
</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="First">
    <mat-card>
      <h2>Nome da empresa:</h2>
      <p>Ticker:</p>
      <p>Cotação atual</p>
      <p><strong>Transações</strong></p>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> COMPRA </mat-panel-title>
            <mat-panel-description> 23/12/2020 </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Quantidade: 15</p>
          <p>Valor: $156.00</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Self aware panel </mat-panel-title>
            <mat-panel-description> Currently I am </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
        <div style="padding-top: 20px;">
          <button mat-button>GERENCIAR CARTEIRA</button>
      </div>
    </mat-card>
  </mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
