<div class="resume">
  <h1>Olá, {{ userData.name }}!</h1>
  <p>
    Você tem um total de
    <strong>$ {{ userData.balance.toFixed(2) }}</strong> para continuar
    investindo
  </p>
  <div style="margin: 10px 0px 10px;">
    <button mat-raised-button color="primary" [routerLink]="['/buy']" [state]="{ data: userData }">
      GERENCIAR CARTEIRA
    </button>
  </div>
</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab *ngFor="let stonk of userData.stonks" label="{{ stonk.ticker }}">
    <mat-card>
      <!-- <h2>Nome da empresa:</h2> -->
      <p>Ticker: {{ stonk.ticker }}</p>
      <p>Quantidade de ações na carteira: {{ stonk.quantity }}</p>
      <!-- <p>Cotação atual</p> -->
      <p><strong>Transações</strong></p>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let tran of getTransactions(stonk.ticker)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ getTransactionType(tran.quantity) }}
            </mat-panel-title>
            <mat-panel-description> {{ tran.date }} </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Valor da ação: $ {{ tran.price.toFixed(2) }}</p>
          <p>Quantidade comprada:{{ tran.quantity }}</p>
          <p>Total: $ {{ tran.total.toFixed(2) }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </mat-tab>
</mat-tab-group>
